gpiozero #Raspberry Pi GPIO pinlerini (PIR sensör) kontrol etmek için
picamera2 #Kamera akışını almak için
opencv-python #Görüntü işleme ve yüz tespiti için
numpy #Matris işlemleri için
face_recognition #Yüz tanıma algoritması için embeddingler oluşturur
requests #API istekleri için
mediapipe # Face detection