# Edge (run_edge.py) dependencies
gpiozero
picamera2
opencv-python
numpy
face_recognition
requests
mediapipe
adafruit-circuitpython-dht
adafruit-blinka
python-dotenv

# Gateway (main.py) dependencies
fastapi
uvicorn[standard]
pydantic
supabase
